# Advent of Code

## Day 1 - Part 1

In [2]:
import pandas as pd

In [8]:
# read in input data
df = pd.read_clipboard(squeeze=True, header=None).rename('raw').reset_index()

In [9]:
df

     index                                      raw
0        0             ckmb52fldxkseven3fkjgcbzmnr7
1        1  gckhqpb6twoqnjxqplthree2fourkspnsnzxlz1
2        2                           2onetwocrgbqm7
3        3                frkh2nineqmqxrvdsevenfive
4        4                                 four9two
..     ...                                      ...
995    995                     5ppflb48tkcffone8six
996    996              five2two7hstbbqzrninegbtwo2
997    997                           eightfblzpmhs4
998    998               fbbdeightzzsdffh8jbjzxkclj
999    999                              3nine6five1

[1000 rows x 2 columns]

In [134]:
# create function to identify numbers
def find_numbers(string):
    mod_string = []

    for char in string:
        if char.isnumeric():
            mod_string.append((char, string.index(char)))
            
    return mod_string

In [135]:
# apply function to df column of raw test
df['numbers'] = df.raw.apply(find_numbers)

In [104]:
# select only the first and last digits
def first_and_last(_list):
    mod_list = ''
    if len(_list) > 1:
        # grab only the first and last
        mod_list += str(_list[0])
        mod_list += str(_list[-1])
    
    else:
        # duplicate single digit
        mod_list = str(_list[0] *2)
    
    return mod_list

In [105]:
# apply function to df column of raw test
df['added'] = df.numbers.apply(first_and_last)

In [136]:
df.head()

,index,raw,numbers,added
0,0,ckmb52fldxkseven3fkjgcbzmnr7,"[(5, 4), (2, 5), (3, 16), (7, 27)]",57
1,1,gckhqpb6twoqnjxqplthree2fourkspnsnzxlz1,"[(6, 7), (2, 23), (1, 38)]",61
2,2,2onetwocrgbqm7,"[(2, 0), (7, 13)]",27
3,3,frkh2nineqmqxrvdsevenfive,"[(2, 4)]",22
4,4,four9two,"[(9, 4)]",99

In [ ]:
df.added.astype(int).sum()

53386

## ✅

## Day 1 - Part 2

rather than just finding numeric digits, need to also find text digits and identify their placement in the string

rather than working from a dataframe as I did for the first part, instead I'm just work from a list for this portion

In [113]:
# create dictionary to map numeric string
# values to numeric values
numbers_dict = {'one': 1, 
 'two': 2, 
 'three': 3, 
 'four': 4, 
 'five': 5, 
 'six': 6, 
 'seven': 7, 
 'eight': 8, 
 'nine': 9}

In [56]:
# create list for first and last digits
sum_list = []

# loop through each row in text
for string in list(df.raw):
    # create list to hold counter index values
    index_counter = []
    # create dictionary to recall numeric values 
    # at specific index locations
    number_lookup = {}
    
    
    # identify numeric numbers
    for i, char in enumerate(string):
        if char.isnumeric():
            number_lookup[i] = char 
            index_counter.append(i)
    
    # identify word numeric values
    for i in numbers_dict.keys():
        if i in string:
            # find first occurence first position
            first = string.find(i)
            # find last occurence last position
            last = string.rfind(i)
            
            # update dictionary 
            number_lookup[first] = numbers_dict[i]
            number_lookup[last + len(i) - 1] = numbers_dict[i]
            
            # updated list index counter
            index_counter.append(first)
            index_counter.append(last + len(i) - 1)

            
    # create list with first and last selected
    first_number = str(number_lookup[sorted(index_counter)[0]])
    last_number = str(number_lookup[sorted(index_counter)[-1]])
    sum_list.append(first_number + last_number)

In [57]:
sum([int(x) for x in sum_list])

53312

## ✅